@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

:root {
  --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
  --background-other-pages: linear-gradient(135deg, #b2c1fd7c 10%, #bd81f982 80%);
  --color-primary: #667eea;
  --color-secondary: #764ba2;
  --boton-padding: 20px 40px;
}
body {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.subtitle {
  color:rgb(10, 55, 92);
  font-size: 3rem;
  margin-bottom: 30px;
}
.container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 1200px;
  overflow: hidden;
  padding: 40px 0;
}
.hero {
  height: 100vh;
  background-image: var(--background),
    url("../images/laptop-g3acd1cdba_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero__container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: white;
  padding: 0;
}

.hero__texts {
  width: 80%;
  margin-bottom: 50px;
  margin-top: 12em;
}

.hero__title {
  padding: 10px;
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: slidein;
}

.hero__subtitle {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 15px 0;
  margin-left: 12px;
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.hero__cta {
  display: inline-block;
  background: #fff;
  padding: var(--boton-padding);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 40px;
}

.hero__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 132px;
  overflow: hidden;
}
path{
  stroke: none;
  fill: #fff;
}

/* ESTILOS PRESENTACION */
.presentation {
  padding-top: 20px;
  text-align: center;
}

.presentation__picture {
  width: 18%;
  font-size: 24px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.presentation__copy {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 20px;
  color:#3a4575 ;
}

.presentation__cta {
  display: inline-block;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}
.presentation__cta:hover {
  background-color: #08123f;
  transition: all 0.5s ease-in-out;
  color: #fff;
}

/*ESTILOS SKILLS */

.about {
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 80%;
  justify-items: center;
  align-items: center;
}
.about__text {
  padding: 0;
  margin: 0;
}
.about__skills {
  text-align: center;
}

.about__skills--left {
  text-align: left;
}

.about__picture {
  max-width: 80%;
}

.about__img {
  height: 80px;
  width: 80px;
  margin: 20px;
  cursor: pointer;
  transition: all 300ms;
  position: relative;
}
.about__img:hover {
  transform: scale(1.15);
}

.about__paragraph {
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 400;
  color: #3a4575 ;
}

/* ESTILOS SKILLS */
.lista_skills{
  display: grid;
  grid-template-columns: 200px 200px;
}

ol {
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 30px;
  transition: all 300ms;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #c2caf0;
  color: #3a4575;
}
ol:hover{
  cursor: pointer;
  transform: scale(1.15);
}

/* ESTILOS PROYECTOS */
.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: inherit;
  white-space: normal;
  text-align: center;
  margin-bottom: 2em;
}
img {
  max-width: 80%;
  inline-size: 100%;
}
.projects__item {
  position: relative;
  width: 100%;
  height: 100%;
}
.projects__item:hover{
  transition: all 400ms;
  transform: scale(1.10);
}

.projects__item a{
  font-size: 1.4rem;
  text-decoration: none;
}

.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 15px;
}

.projects__hover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #546262;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

/*ESTILOS FOOTER */

.footer {
  padding: 2rem 5rem 0 5rem;
  display: flex;
  background: rgb(8,18,63);
  background: linear-gradient(83deg, rgba(8,18,63,1) 0%, rgba(58,69,117,1) 27%, rgba(102,126,234,1) 64%, rgb(158, 172, 240) 100%);
}

.footer__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 2rf 2rf;
  align-items: center;
}

.footer__title {
  display: flex;
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  justify-content: end;
  margin: 20px;
  margin-right: 40px;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  cursor: pointer;
}

.footer__container-icons {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.footer__container-icons:hover {
  background-color:rgba(49, 82, 228, 0.548);
  transition: all 0.5s ease-in-out;
}

.footer__icon {
  margin-top: 15px;
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  height: 0px;
  align-items: center;
  font-weight: 700;
}

.active{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 8rem;
  height: 4rem;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px;
  font-weight: inherit;
  border: 2px solid #fff;
  background-color: rgba(65, 98, 247, 0.548);
}

.nav--footer {
  font-weight: 300;
  justify-content: flex-start;
  text-decoration: underline;
  font-size: large;
}

.nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  width: 8rem;
  height: 4rem;
  text-align: center;
}

.nav__items--footer {
  padding: 10px;
}

.footer__volver {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav__items--cta {
  border: 2px solid #fff;
}

.copy{
  color: #fff;
  text-align: center;
}

.copy2{
  color: #08123f;
  text-align: center;
}

/* ESTILOS CONTACT */
.contact{
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-image: var(--background-other-pages), url("/src/assets/images/contact.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: space-around;
  height: 37em;
  margin-bottom: 0.5rem;
}

.formulario{
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;

}

.otrosContactos{
  height: 85%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5px;
  justify-content: space-between;
}

.mycontact{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.mycontact p{
  margin-left: 5em;
  margin-bottom: 6px;
}

.mycontact a{
  font-size: 20px;
  margin-left: 7em;
  margin-bottom: 6px;
  color: #0d0d0d;
}

.mycontact #wsp{
  font-size: 20px;
  margin-left: 2em;
  margin-bottom: 6px;
}

.iconoNavBar{
  width: 15%;
}

.form-group{
  margin: 5px;
}
.formulario h2{
  margin-top: 0.3em;
}

.form-group label{
  font-size: 23px;
  width: 30%;
  color: #0d0d0d;
}

#labelClassic{
  border: none;
  background-color: transparent;
}

.form-group input{
  height: 10px;
  width: 10em;
  border-color: #08123f;
}

.form-group textarea{
  margin-top: 1em;
  height: 8em;
  width: 28em;
  background-color: transparent;
  border-color: #08123f;
}

.btn{
  width: 22%;
  font-size: 25px;
  background-color: #3a4575;
  display: inline-block;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: 7px;
  border-radius: 40px;
}
.btn:hover {
  background-color: #08123f;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

#btn-contact{
  padding: 5px;
  font-size: 20px;
  text-align: center;
  height: 2em;
}

.iconcontact {
  width: 60px;
  margin: 10px;
}

#otherNav{
  width: auto;
  margin-right: 4.5em;
  padding: 0;
  background-color: #fff;
  box-shadow: none;
}

#otherNav a{
  padding: 15px;
  margin: 0.5em;
}

.nav__items__gral{
  color: #08123f;
  text-decoration: none;
  margin-right: 30px;
  padding: 5px;
  border: 2px solid #08123f;
}

.active2{
  color: #08123f;
  background-color: #e1e4f1;
  text-decoration: none;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
  border: 2px solid #08123f;
}

/* ESTILOS GALERIA */

.main-slide{
  text-align: center;
  background-image: var(--background-other-pages), url("/src/assets/images/certificados-img.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.one-slide{
  padding-top: 7px;
  width: 50%;
  margin-left: 22em;
}

.carousel{
  margin-bottom: 0.5rem;
  height: 6rem;
}

.carousel.carousel-slider {
  height: 100%;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  height: 100%;
}

.carousel .thumbs-wrapper {
  margin-bottom: 0;
}

/*Responsive Design*/

@media screen and (max-width: 800px) {
  :root {
    --boton-padding: 18px 40px;
  }

  .nav {
    justify-content: space-around;
  }
  .nav__items--cta {
    border: none;
  }
  .nav__items {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    margin-right: 0;
  }
  .nav__items--footer {
    border: none;
  }
  .hero__texts {
    width: 100%;
    margin-bottom: 80px;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .hero__subtitle {
    font-size: 1.5rem;
  }
  /* About */
  .presentation__copy {
    width: 100%;
  }
  .presentation__picture{
    width: 30%;
  }
  .about__img {
    width: 30%;
  }
  .about.container {
    padding-top: 30px;
  }

  /* Footer */
  .footer__grid {
    grid-template-columns: 1fr;
  }
  .footer__contact {
    grid-row: 1/2;
    align-items: center;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --boton-padding: 18px 35px;
  }
  .container {
    padding-top: 15px;
  }
  .subtitle {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .nav {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 0;
    margin-bottom: 40px;
  }
  .nav__items {
    padding: 3px 10px;
    border: 0;
  }
  .hero__texts {
    text-align: center;
    margin-bottom: 100px;
  }
  .hero__title {
    font-size: 2rem;
  }

  /* About */
  .presentation__picture {
    width: 40%;
  }
  .about {
    row-gap: 60px;
  }
  .about.container {
    padding-top: 10px;
  }
  .about__img {
    width: 40%;
    height: 40%;
  }
  .lista_skills{
    grid-template-columns: 200px;
    margin: 0;
  }
  ol{
    font-size: 1.5rem;
    padding: 5px;
  }
  /* projects */
  .projects__item a {
    font-size: 13px;
  }
  .projects__item i {
    font-size: 10px;
  }
  /* footer */
  .footer__container-icons {
    margin-top: 10px;
  }
}